.content {
  display: flex;
  margin-inline: auto;
  width: 75%;
  margin-top: 64px;

  flex-direction: column;

  background-color: rgba(0, 170, 255, 0); /* for debuglol */
}

h6 a{
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: #1a1715;
  font-weight: 700;
  text-decoration: none;
}
h6 a:hover {
  color: #fd4319;
}