nav {
    display: flex;
    padding-top: 3rem;
    padding-left: 2rem;

    font-family: "jetBrainsMono", monospace;
    font-size: 24px;
    color: hsl(46, 49, 90);
    ul {
        padding-left: 0px;
        li {
            list-style: none;
            margin-top: 20px;
            color: hsl(0, 0, 85);
            font-size: 20px;
        }
    }
}