.container {
    height: 90vh;
    background-color: hsl(330, 6, 20);
    border-radius: 30px;
    
    justify-content: center;
    align-content: center;
    text-align: center;
}

h1 {
    color: hsl(46, 49, 90);
    font-family: "jetBrainsMono", monospace;
    font-weight: 800;
    font-size: 50px;

    span {
        color: hsl(18, 90, 55)
    }
}