<div class="content">
    <h2>Tech I enjoy:</h2>
    <p><em>Software</em> - Omarchy</p>
    <p>Of all OS I have tested, Omarchy has been the most impressive. Built up from Arch linux, 
    the ricing makes it accessible even for new linux users (like me!). <br> Omarchy takes the ease of use from win10
    and the endless possibilities that Arch offers, combining a bunch of great tools into a flexible and stable OS.
    </p>

    <br> <p><em>Software</em> - Samsung DEX</p>
    <p>Samsung Galaxy S devices have the ability to simulate a desktop environment with Android. <br>
    Combined with an app like RustDesk (open-source), you can remote access a Windows or Linux PC and use it from your phone or tablet, 
    thus essencialy having a full x86 architecture on the go with easy access to android apps without the trouble of emulation.
    </p>
</div>