<div class="content">

    <h2>Tech I like using:</h2>
    <p><mark>WARN</mark><b> deprecated</b> OmarchyOS: distro no longer used <br>
    <em>Software</em> - CachyOS <br>
    CachyOS gave me the possibility to use arch without having to worry about GPU driver configuration.
    Ricing with modules from different builds and learning to make my own as well.
    </p>
    
    <br>
    <p><em>Software</em> - Samsung DEX <br>
    Galaxy S devices have the ability to simulate a desktop environment with Android, connecting wirelessly
    or not to an external display. S Tablets can enter DEX mode on their own, paired with a mouse and keyboard
    it becomes a compact Android laptop.
    </p>

    <br>
    <p><em>Hardware</em> - Womier WK61 <br>
    A decent budget mechanical keyboard in the 60% format that is very reliable. It's got north facing LEDs and OUTEMU Red linear switches on hotswap sockets.
    </p>

    <h2>Inspiration:</h2>
    <p><a href="https://www.zivanrosic.com/" target="_blank" rel="noopener noreferrer"><em>> Živan Rosić</em></a><br>
    Dude behind amazing design and photography</p>
</div>