<div class="content">
    <h6><a routerLink="">&#60;</a></h6>

    <h2>Tech I've been using:</h2>
    <p><mark>WARN</mark><b> deprecated</b> OmarchyOS: distro no longer used <br>
    <em>Software</em> - CachyOS <br>
    CachyOS gave me the possibility to use arch without having to worry about GPU driver configuration.
    Ricing with modules from different builds and making my own as well.
    </p>
    
    <br>
    <p><em>Software</em> - Samsung DEX <br>
    Samsung Galaxy S devices have the ability to simulate a desktop environment with Android. <br>
    Combined with an app like RustDesk (open-source), you can remote access a Windows or Linux PC and use it from your phone or tablet, 
    thus essencialy having a full x86 architecture on the go with easy access to android apps without the trouble of emulation.
    </p>

    <br>
    <p><em>Hardware</em> - Womier WK61 <br>
    A decent budget mechanical keyboard in the 60% format that is very reliable. It's got north facing LEDs and OUTEMU Red linear switches on hotswap sockets.
    </p>
</div>