.content {
  display: flex;
  margin-inline: auto;
  width: 50%;
  transform: translate(0, 50%);

  flex-direction: column;

  background-color: rgba(0, 170, 255, 0); /* for debuglol */
}

a {
  position: relative;
  text-decoration:none;
  color: #1a1715;
}
h1 a:hover{
  color: #fd4319;
}

ul {
  list-style:none;
  padding-left: 2em;
  /* text-align: right; */
}
/* Link selection dashes "the -- there :)" */
ul li::marker {
  content: "-  ";
  color:#1a1715 ;
}
ul li:hover::marker {
  content: "-- ";
  color: #fd4319;
}