h1 {
    font-family: "jetBrainsMono", monospace;
    font-weight: 800;
    font-size: 50px;
    text-align: right;
    padding-right: 3rem;
    color: aliceblue;
}
p {
    font-size: 20px;
    color: aliceblue;
}