body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 5%);
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar content"; // create grid for layout
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    height: 100%;
    background-color: rgba($color: #ffffff00, $alpha: 1.0)
}

// Areas of the page
#sidebar {
    grid-area: 'sidebar';
}
#content {
    grid-area: 'content';
}