body {
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(330, 6%, 6%);
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar content"; // create grid for layout
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    height: 100%;
    background-color: hsl(330, 6%, 6%);
}

// Areas of the page
#sidebar {
    grid-area: 'sidebar';
}
#content {
    grid-area: 'content';
}