body {
    background-color: #e6d9cc;
    font-family: "Space Mono", monospace;
}

::selection {
  background-color: #fd4319;
  color: #121212;
}

h1 {
  font-size: 3.125rem;
  color: #1a1715;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.125rem;
  font-style: bold;
}

p {
  color: var(--gray-700);
  color: #1a1715;
  line-height: 100%;
  letter-spacing: -0.125rem;
}
