@font-face {
    font-family: 'jetBrainsMono';
    src: url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap);
} // JetBrains mono for titles, import from Google Fonts

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 167, 178);
    overflow: hidden;
    height: 90vh;
    margin: 1rem;
    border-radius: 30px;
}